<!-- _includes/news.html -->
<section class="well" aria-labelledby="news-heading">
  <h3 id="news-heading">News</h3>
  <ul class="list-unstyled">
    {% assign recent = site.data.news | sort: "date" | reverse %}
    {% for article in recent limit:5 %}
      {% assign label = article.title | default: article.headline %}
      <p>
        <b>{{ article.date | date: "%B %d, %Y" }}</b><br>
        {% if article.url and article.url != "" %}
          <a href="{{ article.url }}">{{ label }}</a>
        {% else %}
          {{ label }}
        {% endif %}
      </p>
    {% endfor %}
  </ul>
  <h5><a href="{{ "/news/" | relative_url }}">... see all News</a></h5>
</section>
